ajuna_Bot/ajuna_Data/ajuna - Token
RollerViking_Data/RollerVikings - Token
bakupaku_Data/bakupaku - Token
roxa_Data/roxa - token
ajian_pedo_Data/ajian_pedo - Token
Requiem_Bot/Requiem_Data/Requiem - Token
duwang_Bot/duwangbot - Token
Jaden2GM/Data/token.json
Jaden2GM/Data/quest.json
Jaden2GM/Data/users.json
Jaden2GM/Data/battle_profiles.json
/temp.txt
ajuna_Bot/ajuna_Data/mc_data.json
ajuna_Bot/ajuna_Data/config.json
ajuna_Bot/ajuna_Data/prod_token.txt
ajuna_Bot/ajuna_Data/debug_token.txt
ajuna_Bot/__pycache__/
ajuna_Bot/chemistry_assets/library/