ajuna_Bot/ajuna_Data/ajuna - Token
RollerViking_Data/RollerVikings - Token
bakupaku_Data/bakupaku - Token
roxa_Data/roxa - token
ajian_pedo_Data/ajian_pedo - Token
Requiem_Bot/Requiem_Data/Requiem - Token
